/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 :root {
  --main-bg-color: brown;
  --div-border-color: #aeaeae;
  --div-island-bg: #f0f0f0;
  --div-border: 1px solid var(--div-border-color);
  --navbar-bg: white;
  --navbar-top-height: auto;
  --navbar-bottom-height: 25px;
  --bg-remove-color: #9b313a;
  --bg-add-color: #50885d;
    --bg-save-color: #5e3783;



}


body {
  position: relative;
  color: black;
  height: 100vh;
  background: whitesmoke;
  font-family: sans-serif;
}
html {
  height: 100%;
}

.invisibleInk{
  color: whitesmoke;
}

/* fonts */
h3{
    font-size: 1.1rem;
    margin: auto;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 8px;
}

h4{
  font-size: 1.02rem;
    font-weight: 600;
    text-decoration: underline;
}
/* Navbar styles */

.root {
  height: 100%;
}
.wrapper {
    margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; /* auto sizes adjust to content */
}
.navbar-fixed-top {
  grid-row: 1;
  min-height: var(--navbar-top-height);
  background-color: var(--navbar-bg);
  border-bottom: var(--div-border);
}

.navbar .btn {
  height: auto;
  padding: 0 10px;
  color:black;
  font-size: 0.8rem;
  border: none;
  margin:1.5px;
  border-radius: 0%;
}

.navbar .btn:hover {
  background-color: #343333;
  color: rgb(241, 234, 234);
}

.login-info{
  color:rgb(77, 77, 77);
  font-size: 0.6rem;
  margin:3px;
}

.navbar-fixed-bottom {
  background-color: var(--navbar-bg);
  grid-row: 3;
  border-top: var(--div-border);
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  padding: 3px 15px;
height: var(--navbar-bottom-height);
  font-size: 0.9rem;

}

.navbar-fixed-bottom:before {
  /* content: 'bottom bar!!'; */
}

.dropdown{
  display: inline;
}
.dropdown-item {
  color: black;
  font-size: 0.8rem;
}
.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Content styles */
.content {
  /* position: fixed;
  top: var(--navbar-top-height);
  bottom: 18px;
  left: 0;
  right: 0; */
  grid-row: 2;
  overflow: auto;
  padding: 10px;
}

.content .row {
  /* border-bottom: var(--div-border); */
  margin: 0px 0px 5px 0px;
  align-items: center;
}

.container {
  flex-direction: column;
  align-items: center;
  /* border: 1px blue solid; */
  /* leaves room for the menu bar */
  padding-top: 10px;
  /* //display: flex; */
}

#app {
  padding: 10px;
}

/* Page Specific Styles */

.subentry-add-list{

margin: 10px;
    padding: 10px;
    border: var(--div-border);
    border-radius: 5px;

     background-color: var(--div-island-bg);
    width: 100%;
    clear: both;
}

/* General styles */

.image-edit-buttons{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input[type=checkbox] {
  opacity:1!important;
  appearance: auto;
}

.btn-primary{
--bs-btn-color: #000000;
}

/* .btn-primary{
--bs-btn-color: #fff;
  --bs-btn-bg: #7b899d;
  --bs-btn-border-color: #7b899d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7b899d;
  --bs-btn-hover-border-color: #7b899d;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7b899d;
  --bs-btn-active-border-color: #7b899d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c8ccd1;
  --bs-btn-disabled-border-color: #c8ccd1;

}

.btn{
--bs-btn-color: #fff;
  --bs-btn-bg: #7b899d;
  --bs-btn-border-color: #7b899d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7b899d;
  --bs-btn-hover-border-color: #7b899d;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7b899d;
  --bs-btn-active-border-color: #7b899d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c8ccd1;
  --bs-btn-disabled-border-color: #c8ccd1;

} */
/* button {
  background-color: white;
  padding: 5px 9px;
  margin: 5px;
  border-radius: 2px;
  border: none;
  appearance: none;
  font-size: 1.1rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}




button:hover {
  transform: scale(1.05);
  opacity: 1;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}



select[multiple] option:checked {
  background: #007bff;
  color: #fff;
}

/* Form styles */

.formLabel{
  font-weight: bold;
  margin-bottom: 5px;
  margin-right:5px;
  display: inline-block;
  display: block;
  width:auto;
}
.form-control {
  width: 100%;

  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form-control-dropdown {
  padding: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  appearance: auto;
  /* width: 50%; */
}

.save-buttons{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-row {
    display: flex;
  justify-content: center;
  margin: 10px 0px;


      /* background: aqua url("styles/images/divider-stars.png") no-repeat center 0; */
    /* height:30px;
    padding-bottom: 10px;
    width: 100%;
    margin: 20px auto;
    float: left; */

}

.right{
  float:right;
  padding: 0px 8px;
}

.thumb-symbol{
         width: 70%;
    height: 70%;
    display: block;
    margin: auto;
}

.filter-buttons
{margin-bottom:10px;}

.filter-buttons .active
{font-weight:600;}


.description{
  margin: 3px;

}
.single-subentry-listing
{

    padding: 5px;
    display: flow-root;
}

.single-subentry-listing:not(:last-child)
{
      border-bottom: gray solid 1px;

}
.div-dash::before {
    content: '--------------------     ';
    display: block;
    padding-right:14px;
}

.div-dash::after {
    content: '     --------------------';
    display: block;
    padding-left:14px;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.dropzone {
  border: 2px dotted #bbb;
  border-radius: 10px;
  padding: 35px;
  color: #bbb;
  text-align: center;
}

table {
  width: -webkit-fill-available;
}

table.entryTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

table.entryTable tr {
  /* border-bottom: 2px solid #ccc; */
  padding-bottom:5px;
  padding-right:4px;
}

table.entryTable td {
  padding-right:4px;
}

/* table.entryTable .btn {
  margin: 0 5px;
  padding:0 5px;
  height: 15px;
  font-size:8px;
  justify-self: right;
} */

.databasetable {
  margin-top: 20px;
}

.adminOnly {
  border: 2px dotted #bbb;
  border-radius: 10px;
  padding: 15px;
  background-color: #f0f0f0;
}

.SubEntry {
  /* border: 1px solid black;
  padding: 13px; */
}

.subentry-staticentry{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  max-width: 640px;
}

.subEntry-not-available{
  color: darkred;
  border: darkred 1px solid;
  font-weight: bold;
  background-color: #fdd;
  padding: 10px;
  border-radius: 5px;
}
.subentry-staticentry h3{
  font-size: calc(1rem + 0.6vw);
  font-weight: 500;
}

.badger{
  padding:2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  /* margin: 3px; */
  text-align:center;

}

.unread::after{
  content: '◉';
}

.empty::after{
  content: '';

}

.media-thumbnail {

  border: --div-border-color;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
  align-items: center;
  max-width:220px;

}

.media-thumbnail-list {

  border: var(--div-border);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
  align-items: center;
  max-width:220px;

}

.media-thumbnail img {
  width: unset;
   height: 200px;
  /* margin-right: 10px; */
}


.image-subinfo{
  font-size: 0.8rem;
  color: #555;
  margin-left: 10px;
      overflow-wrap: break-word;
}

.subinfo{
  text-align:right;
  margin: 0 0 0 65%;
  padding-bottom: 15px;
  clear: both;
}

.subentries
{
  padding: 25px;
  border: var(--div-border);
  background-color: var(--div-island-bg);
}

.hashImport-div{
  padding-bottom:25px;
}


/*                BUTTONS               */


.btn-remove-item {
  background-color: var(--bg-remove-color);
  padding: 0.1rem 0.5rem;
}

.db-btn {
    width: 200px;
    font-size: 10px;
}

button {
      min-width: 120px;
    font-size: 10px;
    margin: 2px 5px;
}

.remove-button
{


  color: var(--bg-remove-color);
  border: 1px solid var(--bg-remove-color);

  background-color: #fff;
  text-align: center;
}

.remove-button:hover {
  background-color:var(--bg-remove-color);
  border: 1px solid var(--bg-remove-color);
  /* color: white; */
}

.button-small {
      padding:1px 2px;
     min-width:25px;
    height: 25px;
    font-size:10px;
    margin: 0px 5px;
}

/* .remove-button-small:before {
  content: "-";
}

.remove-button-small:hover:before {
  content: "x";
} */

.remove-button-small{

  padding: 5px 7px;
  color: var(--bg-remove-color);
  border: 1px solid var(--bg-remove-color);
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  min-width: 5px;
  min-height:5px;
  height: auto;
}


.btn-add-item {
margin: 10px;
  /* padding: 10px;
    border-radius: 5px;
  background-color: #fff;
  width: 80%; */
  color: var(--bg-add-color);
  border: 1px solid var(--bg-add-color);

  text-align: center;
}

.btn-add-item:hover {
  background-color: var(--bg-add-color);
  /* border:0px;
  color: white; */

}

/*  */

.btn-save-add-item {

  /* padding: 10px; */
  color: var(--bg-save-color);
  border: 1px solid var(--bg-save-color);
  /* border-radius: 5px; */
  background-color: #fff;
  text-align: center;

}

.btn-save-add-item:hover {

  background-color: var(--bg-save-color);
  /* border:0px; */
  /* color: white; */
}

.btn-taller
{
  padding: 10px;
  margin: 5px;
}

button:not(:disabled):not(:hover) {
    border-color: var(--w7-el-bd);
    transition: border-color 0.2s linear;
}

.capture-button{
font-size:15px;
width:170px;
height:50px;
margin:auto;
display:block;

font-variant: small-caps;
}

/* .capture-button:not(:hover):before{
content:"Capture Artifact";
}

.capture-button:hover:before {
  content:"No Edit Access";
}

.capture-button:after       { content:'Hello'!important; }
.capture-button:hover:after { content:'World'; } */

.bookmark-btn
{
background-color: transparent;
    padding: 1px 1px;
    margin: 5px;
    border-radius: 2px;
    border: none;
    appearance: none;
    font-size: 1rem;
    min-width:15px
    /* transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9; */


}

.btn-override{
     background:transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    box-sizing: border-box;
    background-image:none;
    color: #222;
    /* font: var(--w7-font); */
    min-height: 23px;
    min-width: 15px;
     padding: 0;
     margin: 0;
     /*
    position: relative;
    text-align: center;
    z-index: 0; */
}




.bookmark-btn:hover {
 opacity: 0.5;

}


/*  ------------------  TEXT EFFECTS  ------------------------  */
@keyframes jitter {
    10% {
        transform: translate(-2px, -3px) scale(1.01, 1.01);
    }
    20% {
        transform: translate(3px, 2px) scale(.99, .99);
    }
    30% {
        transform: translate(-4px, -5px) scale(1.01, 1.01);
    }
    40% {
        transform: translate(2px, 3px) scale(1, 1);
    }
    50% {
        transform: translate(-1px, -2px) scale(.98, .98);
    }
    60% {
        transform: translate(0px, 3px) scale(1.02, 1.02);
    }
    70% {
        transform: translate(-2px, -4px) scale(1, 1);
    }
    80% {
        transform: translate(3px, 5px) scale(.99, .99);
    }
    90% {
        transform: translate(-5px, -3px) scale(1.1, 1.1);
    }
    100% {
        transform: translate(3px, 1px) scale(.95, .95);
    }
}

.jittery-text:hover {
    animation: jitter 0.3s infinite;
}

.rotate-text{
  rotate: 90deg;
}

.messy-sub-parent .subentry-desc{
rotate: 90deg;
}



/*   -------------------   TABLES ----------------------- */

.divTable { display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group; }
.divTableCell, .divTableHead { display: table-cell; }
.divTableHeading { display: table-header-group; }
.divTableFoot { display: table-footer-group; }
.divTableBody { display: table-row-group; }


.login {

margin: 25% auto;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.1);
}

.loginInner{
  /* border: 1px solid #ccc;
  border-radius: 10px;
  padding: 25px;
  background-color: white;

  width: 100%; */
}

.hexInfo{
  .p{
margin-bottom:0.5rem;
  }
}

.italic-text {
  font-style: italic;
}

.searchResults
{
  width: 100%;
  border-collapse: collapse;
}

.searchResults th,
.searchResults td {
  padding: 5px 5px;
  border: 1px solid #ddd;
}

.searchResults th {
  background-color: #f4f4f4;
  text-align: left;
}

.searchResults tr:nth-child(even) {
  background-color: #f9f9f9;
}

.searchResults tr:nth-child(even).unread-display {
  background-color: #d6ecf4;
}

.searchResults tr:hover {
  background-color: #f1f1f1;
}

.login-info-text{
  margin-bottom:13px;
}

.log-parent-title{
font-size: medium;
    font-weight: 500;
}

.altSignIn{
  font-size: 0.8rem;
  color: rgb(128, 138, 228);
  font-style: italic;
  padding-top:8px;
}

.unavailablemeta
{
  color: darkred;
  font-weight: bold;
  font-style: italic;
}

.unread-display{
  background-color: #d6ecf4;
  border: blue 1px solid;
}

.bad-gateway{
  color: darkred;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 20%;
}


/*  ------   WIN 7 supplements -------------- */

.status-bar-field {
font-size: 8px;
}

.status-bar-field button{
font-size: 8px;
padding:0px;
margin:0px;
    min-width: 45px;
     min-height: 15px;
    float:right;
}

.searchbox button{
  margin:0px;
  border:none;
}

.inner{
  border: 1px solid #cdd7db;
  border-radius: var(--w7-el-bdr);
  box-shadow: inset 0 0 0 1px #fff;
  margin: 0;
  padding: 8px 10px 10px;
}


section{
  border: 1px solid #cdd7db;
  border-radius: var(--w7-el-bdr);
  box-shadow: inset 0 0 0 1px #fff;
  margin: 3px 0;
  padding: 8px 10px 10px;
}

.center {

  text-align: center;
}

li .menuitem {
  font-size: 10px;
}

ul[role=menubar] {
    background: var(--w7-surface);
}

ul[role=menubar]>[role=menuitem] {
    padding: 5px 10px;
    position: relative;
    font-size:10px;
}
li[role=menubar]>[role=menuitem] {
    padding: 6px 10px;
    position: relative;
}

li[role=menubar]>[role=menuitem] a {
    padding: 6px 10px;
    position: relative;
}

a:focus, a:hover {
    color: var(--w7-link-c-h);
    text-decoration: underline;
}

ul[role=menubar]>[role=menuitem]>a:hover, ul[role=menubar]>[role=menuitem]>button:focus-visible, ul[role=menubar]>[role=menuitem]>button:hover, ul[role=menubar]>[role=menuitem]>label:focus-visible, ul[role=menubar]>[role=menuitem]>label:hover, ul[role=menubar]>[role=menuitem][aria-haspopup=true]:focus-visible, ul[role=menubar]>[role=menuitem][aria-haspopup=true]:hover {
    background: var(lightblue);
    border-color: var(rgb(90, 165, 190));
    color:white;
}


.subID {
  display:block;
  text-transform: capitalize;
   font-size: 0.9rem;
}
.subTitle {
  display:block;
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
}

.subIDSpan h3 {
  display:block;
  text-transform: capitalize;
  font-size: 1rem;
  text-align:left;
}

.parentIDSpan {
  display:block;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.parentTitleSpan {
  display:block;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: underline;
}

.entry-title{
  padding-bottom:10px;
}

.entry-header{
  display:flex;

  gap:5px;
}


/*       MEDIA      */

.media {
  padding: 5px;
  margin: 5px;
  border: var(--div-border);
}
.media-thumbnail-list>.pdf{
  width: "200px";
  height: "200px";
  /* border:#18db43 1px solid;  */
}

.media-pdf{
  width: 100%;
  height: 620px;
  /* border:#18db43 1px solid;  */
}

.media-thumbnail>.media-pdf{
  width: "100%";
  height: "600px";
}



.pdf{
  border:#f509ce 1px solid;
  width: 100%;
   height: 100%;
  /* border: "1px solid #dee2e6"; */
  border-Radius: "4px";
}

.hex-select{
  height:300px;
}

.loaded-item {
  animation: fade-in 3s;
}

.unread-display{
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes blink-save {
  0% { opacity: 0;  background:none;}
  50% { opacity: 0.7; background: rgb(146, 153, 216);}
  100% { opacity: 0; background:none;}
}

.blink-save{
  animation: blink-save 0.4s ;
   width: 100%;
    height: 100%;
    /* opacity: 0; */

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.lockScreen{
  position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    /* z-index: 1000; */
}

.debugInfo{
  position: fixed;
    bottom: 30px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 0.6rem;
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
    z-index: 1001;
}

.debugInfo p{

margin-bottom:0;
font-size:9px;
}

.bugHi{
  background-color: yellowgreen;
}

.text-blue-500{
  color: #3b82f6;
}

.text-red{
  color: #ff0000;
}

.attention{
  animation: fade-attention 7s infinite;
  /* padding: 1px 2px; */
   /* background-color: rgb(200, 229, 238); */
}

.attention:hover{
  border-right: 0.2px white solid;
  border-left: 0.2px white solid;
   /* background-color: rgb(200, 229, 238); */
}


@keyframes fade-attention {
    0% {   background:none;}
  50% {  background:  rgb(200, 229, 238);}
  100% {  background:none;}



}

input[type=email], input[type=number], input[type=password], input[type=text], input[type=url], textarea {
    background-color: #fff;
    border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font: var(--w7-font);
    padding: 3px 4px 5px;
    transition: border-color .5s;
}

.match{
      background: var(--w7-surface);
    border-color: #afafaf;
    box-shadow: inset 0 0 0 1px #fff;
    height: 35px!important;
    background-color: #fff;
    border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font: var(--w7-font);
    padding: 3px 4px 5px;
    transition: border-color .5s;
    font-size: 12px;


}
